.appname{
	color: white;
	font-size:22px;
	margin:0px !important;
}

.banner{
	margin-top:0px !important;
	padding:4px 0px 4px 0px;
}

.contenedorfecha{
	padding:6px 0px 6px 12px;
}

.fecha{
	padding:1%;
	background-color: #ebebeb;
	color: #a5a5a5;
	border-radius: 15px;
	width: 15% !important;
	margin: 2% 5% 2% 5%;
}

.fechaselected{
	border-style: solid;
  border-color: red;
  background-color: #ffffff;
  color: #424242;
}

.dia{
	margin-top:8% !important;
	margin-bottom: 1% !important;
	font-weight: 400;
	font-size:8px;
	 text-transform: uppercase;
}

.numerodia{
	margin-top:0% !important;
	margin-bottom: 4% !important;
}

.nuevaentrada{
	padding:16px 0% 16px 0%;
	margin-top:32px;
	bottom:0;
	position:fixed;
	z-index:100;
}


.textobotonentrada{
	margin:0px 0px 3px 0px!important;
	color:white;
}

.filter{
	filter: invert(100%) sepia(0%) saturate(7449%) hue-rotate(17deg) brightness(114%) contrast(106%);
}

.tituloentrada{
	color:#3b7ba4;
	font-weight:800;
	margin:0px !important;
}

.textoentrada{
	color:#757575;
	font-weight:400;
	margin:0px !important;
}

.fechaentrada{
	color:#a5a5a5;
	font-weight:400;
	font-size:12px;
}

.ubicacionentrada{
	font-weight:600;
	font-size:12px;
	color:#a5a5a5;
}

.imagenentrada{
	border-radius: 8px;
}

.imagen{
	border-radius: 8px;
	margin-top:16px;
	margin-bottom:16px;
	max-width:400px;
}

.blue{
	color:#24b79e;
	margin-left:16px !important;
	margin-bottom:16px;
	padding:0px;
	border:0px;
	font-size: 24px;
	font-weight: 600;
	width:80%;
}

.blue::placeholder{
	color:#24b79e;
	border:0px;
	font-size: 24px;
	font-weight: 600;
}

.tmodal{
	color:#757575;
	margin-left:18px !important;
	margin-bottom:24px;
	padding:0px;
	border:0px;
	font-size: 16px;
	font-weight: 400;
	width:80%;
	resize: none;
	letter-spacing: 0px;
}

.tmodal::placeholder{
	color:#757575;
	margin-left:18px !important;
	margin-bottom:24px;
	padding:0px;
	border:0px;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: normal;
}



.square{
	max-height:822px !important;
}

.entrada{
	margin-bottom:32px;
}

.imagenes{
	margin-top:24px;
}

.margen{
	margin-bottom:100px;
}

 .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
 .modalentry {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80%;
    border-radius: 0.5rem;
}

 .close-button {
 float: left;
 width: 34px;
 line-height: 34px;
 text-align: center;
 cursor: pointer;
 border-radius: 0.25rem;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
